{% load staticfiles %}
{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Times New Roman&subset=latin,latin-ext" rel="stylesheet" type="text/css">
         <title>Pivot Table </title>
    </head>


	<div class="page-header">
		<h1><a href="/">Pivot Table</a></h1>
	</div>

    <div class="container">

    <form method="POST" class="post-form" style="font-family: 'Roboto', sans-serif;font-size: 13px;color:#255388;">{% csrf_token %}


        <label for="fdate">From Date: </label>
        <input id="fdate" type="date" name="fdate"  required />

         <label for="tdate">To Date: </label>
        <input id="tdate" type="date" name="tdate"  required />

        <button type="submit" class="save btn btn-default">Submit</button>
    </form>
    </div>
</html>